<h1>SECTION2</h1>

	<div pg-select="myApp.container" pg-show="myCondition">
		<div>
			<input id="inputId" style="color:${myColor}" type="text" pg-value="myModel.Comment">
			<textarea style="color: ${myModel.myColor}" pg-value="myModel.Comment"></textarea>
			<select name="example" pg-value="myModel.mySelect">
		    	<option value="">Other</option>
		    	<option value="A">A</option>
		    	<option value="B">B</option>
			</select>
		</div>
		${currentStatus}
		<div id="test">
			Member ID : ${myModel.ID} ( ${myModel.type.profile} )
			<div>${myModel.secondName}, ${myModel.firstName}</div>
			<div>
				Adress :
				<div> ${myModel.Address.Number} th, ${myModel.Address.Street} </div>
				<div>${myModel.Address.City} , ${myModel.Address.State} </div>
			</div>
			<div>Comments : ${myModel.Comment} </div>
			The user is currently ${currentStatus}
		</div>

	</div>
	<div pg-select="myApp.myView"></div>
