<h1 pg-model="'section3'" >SECTION 3</h1>

<input type="button" value="Load MyModel" pg-on-click="section3.loadModel">
<input type="button" value="Load Images" pg-on-click="section3.loadView">

<div style="padding:40px;">
    <div>
        <input type="text" pg-value="myModel.Comment">
        <textarea pg-value="myModel.Comment"></textarea>
        <select name="example" pg-value="myModel.mySelect">
            <option value="">Other</option>
            <option value="A">A</option>
            <option value="B">B</option>
        </select>
    </div>


    <div pg-view="'section3/card'"></div>
</div>
